<p>
    Buenas,
    Hemos recibido una solicitud de reestablecer su contraseña de Eventic. Si ha sido usted, pulse al siguiente enlace para reestablecerla:
    <%= "http://localhost:3000/editp" + "/" + @user.password_reset_token%>
</p>
<p>
    Si no ha sido usted, ignore este corrreo.
</p>
<p> 
    Muchas gracias
</p>
<p> 
    Equipo Eventic.
</p>

