<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EVENTIC</title>
    <meta name="google-site-verification" content="cXGFT4snu_F6yKoAqvvlkPJi5D8iKQWh9v9ytvK90Qc" />
  </head>
  <body>
    <!-- Div content -->
    <div style="margin:0 auto;text-align:center">

          <!-- Div align in the middle -->
          <div style="margin-left:auto;margin-right:auto;text-align:center">
            <img style='width: 50%' src='/Eventic.png'></img>
          </div>

    </div>
  </body>
</html>
