<p>
    Buenas,
    <br>
    Hemos recibido una solicitud para restablecer su contraseña de Eventic. Si ha sido usted, pulse el siguiente enlace para restablecerla:
    <a href = <%= "https://eventic-api.herokuapp.com/editp" + "/" + @user.password_reset_token%> > Pulse aqui para cambiar la contraseña </a> 
</p>
<p>
    Si no ha sido usted, ignore este corrreo.
</p>
<p> 
    Muchas gracias
</p>
<p> 
    Equipo Eventic.
</p>

