<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bugking</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	</head>
	<body>
		<br /> <br /> <br />
			<div id="menu" ALIGN="center">
				<div class="title">Bugking <em>- Empresa líder en organizar viajes</em></div>
					<hr style="color:red; background-color:red; width:100%;" />
				<ul>
			</div>
	<center>
		<label>
			<strong> 
				Bienvenidos al servicio Bugking. Este servicio os proporciona viajes a tu gusto hacia Paris o Londres.
				Nos encargamos de encontrarle un vuelo para las fechas deseadas de ida  y vuelta. 
				También de encontrarle alojamiento a su gusto.
				Finalmente de proporcionar un horario para cada día que pase en la ciudad sobre que hacer por la mañana, tarde y noche.
				Porfavor pulse Iniciar Búsqueda para rellenar el cuestionario y empezar la búsqueda. Ten paciencia mientras buscamos los mejores resultados.
			</strong>
		</label>
		<form action="/main" method="get" name="main">		
		<input type="submit" value="Iniciar Busqueda" class="button btn-primary">
		</form>	
	</center>
	</body>

</html>
